<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Burger"
        tools:targetApi="31">
        <activity
            android:name=".later"
            android:exported="false"
            android:label="@string/title_activity_later"
            android:theme="@style/Theme.Burger.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".crearcuenta"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".inicio"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".menuActivity"
            android:label="Menu Activity">

            <!-- Puedes agregar más configuraciones según tus necesidades -->
        </activity>
        <activity
            android:name=".menu_administrador"
            android:label="Menu administrador"></activity>
        <activity android:name=".anadirProductoActivity"></activity>
        <activity android:name=".modificarProductoActivity"></activity>
        <activity android:name=".eliminarProductoActivity"></activity>
        <activity android:name=".mostrarProductoActivity"></activity>
        <activity android:name=".anadirUsuarioActivity"></activity>
        <activity android:name=".modificarUsuarioActivity"></activity>
        <activity android:name=".eliminarUsuarioActivity"></activity>
        <activity android:name=".mostrarUsuarioActivity"></activity>
        <activity android:name=".anadirRepartidorActivity"></activity>
        <activity android:name=".modificarRepartidorActivity"></activity>
        <activity android:name=".eliminarRepartidorActivity"></activity>
        <activity android:name=".mostrarRepartidorActivity"></activity>
        <activity android:name=".anadirIncidenciaActivity"></activity>
        <activity android:name=".modificarIncidenciaActivity"></activity>
        <activity android:name=".eliminarIncidenciaActivity"></activity>
        <activity android:name=".mostrarIncidenciaActivity"></activity>
    </application>

</manifest>